<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @component.desc %>
</p>

<p>
  <strong>Game:</strong>
  <%= @component.game %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
